<table>
    <thead>
      <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Sergey Voytenkov</td>
        <td>sergey101.eco@gmail.com</td>
      </tr>
      <tr>
          <td>2</td>
          <td>Vasya Voron</td>
          <td>None</td>
      </tr>
    </tbody>
</table>
